{% extends 'users/base.html' %}

{% block head_content %}
<title>JuniorGram sign in</title>
{% endblock%}

{% block container%}
{% load static %}
    {% if error %}
        <p class="alert alert-danger">{{error}}</p>
    {% endif%}
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
    
        <div id='media-login'>
            <img src="{% static 'img/deportive-logo.png' %}" class="rounded-circle" height="200"/>
            
        </div>
        <hr>
        <div class="form-group">
            <input class="form-control mb-2" type="text" placeholder="Username" name="username" id='color-inputlogin'/>
            <input class="form-control" type="password" placeholder="Password" name="password" id='color-inputlogin'/>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        <a href="{% url 'users:signup' %}"><button type="button" class="btn btn-primary btn-block mt-2" >Register now!</button></a>
    </form>

{% endblock %}