{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profiles</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class='media ml-2'>
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="rounded float-left" height="180">
                    {% else %}
                        <img src="{% static 'img/deportive-logo.png' %}" class="rounded-circle" height="130"/>
                    {% endif %}

                    <div class="custom-file mt-3">
                        <h3 class="ml-5">{{user.get_full_name }} | @{{ user.username }}</h5><br>
                        <input type="file" class="custom-file-input col-m-6 m-5" m id="inputGroupFile01" accept=".jpg, .png, .jpeg" name='picture'>
                        <label class="custom-file-label col-m-6 m-5" for="inputGroupFile01">Choose a profile picture.</label>
                    </div>
                </div>
                    {% for error in form.picture.errors %}
                    <div class="alert alert-danger ">
                        <b>Picture: </b>{{ error }}
                    </div>
                    {% endfor %}
                <hr class="mt-4">
                
                {# Website field #}

                <div class="form-group">
                    <label>Website</label>
                    <input class="form-control {% if form.website.errors %}is-invalid{% endif %}" 
                    type="text" 
                    name="website" 
                    placeholder="Website" 
                    value="{% if form.errors %}{{ form.website.value}}{% else %}{{ profile.website }}{% endif %}"/>
                    <div class="invalid-feedback">
                        {% for error in form.website.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                {# Biography field #}
                <div class="form-group">
                    <label>Biography</label>
                    <textarea 
                    class="form-control {% if form.biography.errors %}is-invalid{% endif %}" 
                    name="biography">{% if form.errors %}{{ form.biography.value}}{% else %}{{ profile.biography }}{% endif %}</textarea>
                    
                    <div class="invalid-feedback">
                        {% for error in form.biography.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                {# Biography field #}
                <div class="form-group">
                    <label>Phone number</label>
                    <input
                    class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}" 
                        type="text"
                        name="phone_number"
                        placeholder="Phone number"
                        value="{% if form.errors %}{{ form.phone_number.value}}{% else %}{{ profile.phone_number }}{% endif %}"/>
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}